@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>About This Project</h2>
        </div>
        <div class="card-body">
            <p>This website is a demo e-commerce project developed using ASP.NET Core 8.0 MVC. The purpose of this project is to learn and improve skills in ASP.NET Core by implementing a real-world e-commerce solution. Modern web technologies have been used to create a responsive and user-friendly shopping experience.</p>

            <p>The project uses Bootstrap for the front-end design, ensuring a sleek and responsive layout suitable for any device.</p>

            <p>Entity Framework is used with a Model-First approach for database management, making it easy to handle database structure and ensure smooth integration with the application. MsSQL Server is used for the database operations.</p>

            <p>For shopping cart and order management, a session-based system is implemented. Users can easily add products to their shopping cart and review their orders before proceeding to checkout.</p>

            <p>This project aims to enhance the skills of ASP.NET Core MVC development and will continue to be developed with more features in the future.</p>

            <h3>Contact Information</h3>
            <ul>
                <li><strong>GitHub Profile:</strong> <a href="https://github.com/hamza-alpaslan" target="_blank">https://github.com/hamza-alpaslan</a></li>
                <li><strong>Project Repository:</strong> <a href="https://github.com/hamza-alpaslan/ASP.NETCoreMVC8.0-ECommerce" target="_blank">https://github.com/hamza-alpaslan/ASP.NETCoreMVC8.0-ECommerce</a></li>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/hamza-alpaslan-758ba0269/" target="_blank">https://www.linkedin.com/in/hamza-alpaslan-758ba0269/</a></li>
                <li><strong>Email:</strong> <a href="mailto:hamza.alp2001@gmail.com">hamza.alp2001@gmail.com</a></li>
                <li><strong>Check my website:</strong> <a href="https://hamza-alpaslan.github.io/">https://hamza-alpaslan.github.io/</a></li>
            </ul>
            <h4 style="text-align:center">2024</h4>
        </div>
    </div>
</div>

